img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

body {
    background-color: rgb(76, 50, 50);
}

#container {
    background-color: rgb(199, 107, 107);
    padding: 10px;
}

h1, h2, h3 {
    text-align: center;
    font-family: "DM Serif Display", serif;
}

a {
    color: rgb(222, 188, 184);
}

a:hover {
    color: rgb(206, 117, 100);
    text-decoration: none;
}

nav {
    background-color: rgb(120, 26, 18);
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: block;
}

nav li a {
    display: block;
    height: 40px;
    line-height: 40px;
    color: rgb(95, 40, 39);
    background-color: rgb(207, 155, 145);
    text-align: center;
    margin: 5px 0;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

nav li a:hover {
    background-color: rgb(193, 135, 127);
}

header h1 {
    font-size: 35px;
    color: rgb(101, 22, 19);
}

main {
    border: 2px solid rgb(112, 26, 19);
    padding: 10px;
    margin: 10px 0;
}


#lower {
    border: 2px solid rgb(120, 31, 25);
    padding: 10px;
}

.col {
    border: 2px solid rgb(132, 34, 19);
    margin: 10px;
    padding: 10px;
}

footer {
    padding: 40px 0;
    text-align: center;
}

.button {
    display: block;
    margin: 10px auto;
    text-align: center;
    background-color: rgb(207, 155, 145);
    width: 125px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    border: 2px solid rgb(158, 57, 36);
    border-radius: 10px;
    font-weight: bold;
}

.button:hover {
    color: rgb(173, 116, 109);
}

#char {
    display: flex;
    width: 30%;
    margin: 0 auto;
}

.charcover {
    margin: 5px;
}

.charcover img {
    width: 70%;
}


@media(min-width: 786px) {
    nav {
        text-align: center;
    }

    nav li {
        display: inline-block;
     }

     nav li a {
        width: 200px;
     }

     main img {
        width: 50%;
     }

     #lower {
        width:  75%;
        margin: o auto;
     }

     .col img {
        width: 75%;
     }
}

@media (min-width: 1024px) {
    #lower {
        #container {
            width: 65%;
            margin: 20px auto;
        }

        width: 100%;
        display: flex;
    }

    .col {
        width:  33.33%;
    }
}