/* global styles */
body {
    background-color: #eeeee6;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

a {
    color: #3c2527;
}

a:hover {
    color: #a9797d;
    text-decoration: none;
}

#container {
    background-color: #E4B8BD;
    width: 75%;
    margin: 20px auto;
}

h1, h2, h3 {
    text-align: center;
    color: #3c2527;
}

/* Desktop Styles */

nav {
    background-color: #9c636a;
    padding: 5px 0;
}

nav ul {
    list-style-type: none;
    padding: 0 ;
    text-align: right;
}

nav li {
    display: inline-block;
}

nav li a {
    color: #d5b1b4;
    margin-right: 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

nav li a:hover {
    color: #3c2527;
}

header h1 {
    font-size: 100px;
    color: azure;
    text-shadow: 2px 2px 2px #412C29;
}

main {
    padding: 20px 0;
}

main img {
    width: 50%;
}

#lower {
    display: flex;
}


.col {
    padding: 10px;
    margin: 10px;
    border: 2px solid #412C29;
    width: 33.33%;
    border-radius: 25px;
}

footer {
    padding: 40px 0;
    text-align: center;
}

hr {
    width: 95%;
}

.button {
    display: block;
    background-color: #8b5f63;
    width: 125px;
    height: 30px;
    color: #3c2527;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    margin-top: 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.button:hover {
    color: white;
}

#games {
    display: flex;
}

.gamepics {
    margin: 7px;
}

.gamepics img {
    width: 100%;
}